altgraph==0.17
cycler==0.10.0
ezdxf==0.16.3
future==0.18.2
Jinja2==3.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.2
numpy==1.20.3
panda3d==1.10.9
pefile==2021.5.24
Pillow==8.2.0
prettytable==2.1.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyNiteFEA==0.0.30
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
QPanda3D==0.2.8
qt-material==2.8.8
scipy==1.6.3
six==1.16.0
tinydb==4.4.0
wcwidth==0.2.5
